{% block content %}
    <div class="episode-site">
    <div class="row headline-episode">
        <div class="col-md-12 col-xs-12">
            {{ show.name }} - {{ episode.name }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 ">
            <a href="#hints" class="accordion panel panel-default" data-toggle="collapse">
                <span class="hint-text-head panel-heading col-md-8 col-md-offset-2 col-xs-12">
                   <img style="max-width:25px;display:inline-block;" src="{{ asset('public/gfx/fingerabdruck.png') }}" class="img-responsive thumb" alt="hier ist der Daumen"> Alle Hinweise
                    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                </span>
            </a>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div id="hints" style="font-size: 1.5em" class="hints collapse ">
                <ol>
                    <div class="panel-body col-md-8 col-md-offset-2 col-xs-12 ">
                    {%  for hint in hints %}
                        <li>
                            {{ hint.text }} | <span style="color:#c3c3c3">{{ hint.date|date('Y-m-d H:m') }}</span>
                        </li>
                    {% endfor %}
                    </div>
                </ol>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
    <div class="col-md-8 col-md-offset-2">
    {%  for suspect in suspects %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 suspect-img-cnt">
                <span data-value="{{ suspect.id }}" class="clickable-suspect">
                    <div class="suspect-overlay_text" style="font-size: 1.5em">{{ suspect.name }}</div>
                    <img src="{{ asset('public/img/'~ suspect.imagepath) }}" class="img-responsive " />
                </span>
            </div>
        </div>
        <br/>
        <br/>
    {% endfor %}

    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
            {{ form_start(suspectForm, {'attr': {'id': 'form_user_tip'}}) }}
            {{ form_widget(suspectForm) }}
        </div>
    </div>
        <br />
            {{ form_end(suspectForm) }}
    </div>
    {% if (alreadyVoted==true)%}
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <strong>So stimmten andere</strong>
            <br/>
            <div class="bar-100">
                <div class="bar-65">
                    Annika Blendel 65%
                </div>
            </div>
            <br/>
            <div class="bar-100">
                <div class="bar-15">
                    Henrik Paulsen 15%
                </div>
            </div>
            <br/>
            <div class="bar-100">
                <div class="bar-75">
                    killian hagendorf 75%
                </div>
            </div>
            <br/>
            <div class="bar-100">
                <div class="bar-50">
                    Lars Overbeck 75%
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

<script>
    {% if (alreadyVoted==true)%}
        $('#form_save').attr('disabled','disabled').addClass('disabled').addClass('btn').before('<span class="col-xs-12 col-md-12" style="text-align: center;font-size:2.2em;"> <strong>Sie haben schon abgestimmt</strong></span>');
    {%  endif %}
    $(document).ready(function(){
        $('#form_save').attr('disabled','disabled').addClass('disabled').addClass('btn');

        $('a.accordion').click(function(){
            console.log($('#hints').attr('aria-expanded'))
            if($('#hints').attr('aria-expanded') == 'undefined' ) {
                $('.glyphicon').removeClass('glyphicon-chevron-up');
                $('.glyphicon').addClass('glyphicon-chevron-down');
            }
            else if( $('#hints').attr('aria-expanded')==='true' ){
                $('.glyphicon').removeClass('glyphicon-chevron-up');
                $('.glyphicon').addClass('glyphicon-chevron-down');
            }else{
                $('.glyphicon').removeClass('glyphicon-chevron-down');
                $('.glyphicon').addClass('glyphicon-chevron-up');
            }
        })


        $('#form_user_tip').submit(function(event){
            event.preventDefault();
            $.ajax({
                url: '/episode/view/'+{{ episode.id}},
                type:'POST',
                data: $(this).serialize()
            }).done(function(data){
                window.location.reload()
            })

        });

        $('#form_suspectId > label').after('<br/>');
        $('#form_save').addClass('votebtn');
        $('#form').find('label').css('visibility','hidden');
        $('.clickable-suspect').click(function(){
            $('.clickable-suspect').each(function(){
               $(this).removeClass('redborder');
            });
            var val=$(this).data('value');
            $(this).addClass('redborder');
            $('#form_save').removeAttr('disabled').removeClass('disabled');
            $('#form_suspectId_'+val).prop('checked',true);
        })


    })


</script>
