{% block content %}
    <div class="episode-site">
    <div class="row headline-episode">
        <div class="col-md-2 col-xs-2 col-md-offset-2">
            <img style="max-width:50px;" src="{{ asset('public/gfx/fingerabdruck.png') }}" class="img-responsive thumb" alt="hier ist der Daumen">
        </div>
        <div class="col-md-8 col-xs-10">
            {{ show.name }} - {{ episode.name }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <a href="#hints" class="accordion" data-toggle="collapse">
                <span class="hint-text-head">Alle Hinweise <span class="glyphicon glyphicon-chevron-down"></span> </span>
            </a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div id="hints" style="font-size: 1.5em" class="hints collapse">
            <ol>
        {%  for hint in hints %}
        <li>{{ hint.text }}</li>
        {% endfor %}
            </ol>
        </div>
        </div>
    </div>
    <br/>
    <div class="row">
    <div class="col-md-8 col-md-offset-2">
    {%  for suspect in suspects %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 suspect-img-cnt">
                <span data-value="{{ suspect.id }}" class="clickable-suspect">
                    <div class="suspect-overlay_text" style="font-size: 1.5em">{{ suspect.name }}</div>
                    <img src="{{ asset('public/img/'~ suspect.imagepath) }}" class="img-responsive " />
                </span>
            </div>
        </div>
        <br/>
        <br/>
    {% endfor %}

    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {{ form_start(suspectForm, {'attr': {'id': 'form_user_tip'}}) }}
            {{ form_widget(suspectForm) }}
        </div>
    </div>
        <br />
            {{ form_end(suspectForm) }}
    </div>
    </div>
    </div>
{% endblock %}
<script>
    $(document).ready(function(){
        $('a.accordion').click(function(){
            console.log($('#hints').attr('aria-expanded'))
            if($('#hints').attr('aria-expanded') == 'undefined' ) {
                $('.glyphicon').removeClass('glyphicon-chevron-up');
                $('.glyphicon').addClass('glyphicon-chevron-down');
            }
            else if( $('#hints').attr('aria-expanded')==='true' ){
                $('.glyphicon').removeClass('glyphicon-chevron-up');
                $('.glyphicon').addClass('glyphicon-chevron-down');
            }else{
                $('.glyphicon').removeClass('glyphicon-chevron-down');
                $('.glyphicon').addClass('glyphicon-chevron-up');
            }
        })


        $('#form_user_tip').submit(function(event){
            event.preventDefault();
            $.ajax({
                url: '/episode/view/'+{{ episode.id}},
                type:'POST',
                data: $(this).serialize()
            }).done(function(data){

            })

        })

        $('#form_suspectId > label').after('<br/>');
        $('#form_save').addClass('votebtn');
        $('#form').find('label').css('visibility','hidden');
        $('.clickable-suspect').click(function(){
            $('.clickable-suspect').each(function(){
               $(this).removeClass('redborder');
            });
            var val=$(this).data('value');
            $(this).addClass('redborder');
            $('#form_suspectId_'+val).prop('checked',true);
        })


    })


</script>
