<div class="app-titlebar">
    <div class="col-md-12">
        <img id="app-menu-icon" onclick="app.toggleMenu()" src="{{ asset('public/gfx/mordsgaudi_menu_offen.png') }}"/>
        <img style="display:none" id="app-menu-icon" onclick="app.toggleMenu()" src="{{ asset('public/gfx/mordsgaudi_menu_zu.png') }}"/>
    </div>
</div>
<div id="app-menu">
    <div class="app-menu-guest">
        <div class="app-menu-title-bar">GAST</div>
        <ul>
            <li onclick="app.toggleMenu(false)">
                <a href="#/frontend/startFront"><img src="{{ asset('public/gfx/fingerabdruck.png') }}"
                                                     class="menu-item-icon">Home</a>
            </li>
            <li onclick="$('.embedded-login-form').toggle('blind');$('#logon_username').focus()">
                <a href="#/frontend/highscore"><img src="{{ asset('public/gfx/einlogge.png') }}" class="menu-item-icon">Einloggen</a>
            </li>
            <li>
                <div class="embedded-login-form">
                    <input id="logon_username" type="text" placeholder="Username" class="textbox" onkeydown="if (event.which == 13 || event.keyCode == 13) {user.login()}"/><br/>
                    <input id="logon_password" type="password" placeholder="Password" class="textbox" onkeydown="if (event.which == 13 || event.keyCode == 13) {user.login()}"/><br/>
                    <button class="button" onclick="user.login()">Login</button>
                </div>
            </li>
            <li onclick="app.toggleMenu(false)">
                <a href="#/frontend/highscore">
                    <img src="{{ asset('public/gfx/registrieren.png') }}" class="menu-item-icon">Registrieren</a>
            </li>
            <li class="app-menu-divider"></li>
            <li onclick="app.toggleMenu(false)">
                <a href="#/frontend/highscore">
                    <img src="{{ asset('public/gfx/pokal.png') }}" class="menu-item-icon">Highscore</a>
            </li>
            <li class="app-menu-divider"></li>
            <li onclick="app.toggleMenu(false)">
                <a href="#/frontend/impressum">Impressum</a>
            </li>
        </ul>
    </div>

    <div class="app-menu-user">
        <div class="app-menu-title-bar"></div>
        <ul>
            <li onclick="app.toggleMenu(false)">
                <a href="#/frontend/startFront"><img src="{{ asset('public/gfx/fingerabdruck.png') }}"
                                                     class="menu-item-icon">Home</a>
            </li>
            <li onclick="app.toggleMenu(false)">
                <a href="#/frontend/highscore">
                    <img src="{{ asset('public/gfx/pokal.png') }}" class="menu-item-icon">Highscore</a>
            </li>
            <li onclick="app.toggleMenu(false)">
                <a href="#/frontend/profil">
                    <img src="{{ asset('public/gfx/profile.png') }}" class="menu-item-icon">Profil</a>
            </li>
            <li onclick="app.toggleMenu(false)">
                <a href="#/frontend/groups">
                    <img src="{{ asset('public/gfx/group.png') }}" class="menu-item-icon">Gruppen</a>
            </li>
            <li class="app-menu-divider"></li>
            <li onclick="user.logout();">
                <a href="#/frontend/logout">
                    <img src="{{ asset('public/gfx/auslogge.png') }}" class="menu-item-icon">Ausloggen</a>
            </li>
            <li class="app-menu-divider"></li>
            <li class="no-icon" onclick="app.toggleMenu(false)">
                <a href="#/frontend/impressum">Impressum</a>
            </li>
        </ul>
    </div>

</div>
<div id="app-menu-cover-area" onclick="app.toggleMenu(false)">

</div>

<!--
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"/><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/admin/user/create">CREATE USER</a></li>
                        <li role="separator" class="divider"></li>

                        <li><a href="#" onclick="app.navigateTo('/admin/user/create')">CREATE USER</a></li>

                        <li><a href="#/frontend/info">info</a></li>
                        <li><a href="#/admin/show/create">CREATE SHOW</a></li>
                        <li><a href="#/frontend/impressum">Impressum</a></li>
                        <li><a href="#/frontend/highscore">Highscore</a></li>
               </ul>
                </li>
            </ul>
            <span></span>
        </div>
    </div>
</nav>
-->