{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="overlay_text col-md-12">
                        <div style="position:relative; top:10px;">
                            <span class="glyphicon glyphicon glyphicon-play-circle" style="color:red;font-size:2em;"
                                  aria-hidden="true"></span><span
                                    style="font-size: 1.5em;position: relative;top:-7px;margin-left:10px;">Jetzt Live</span>
                        </div>
                    </div>
                    <a href="#/episode/view/1">
                        <img class="center-block img-responsive" style="width:100%"
                             src="{{ asset('public/img/tatort1.jpg') }}"/>
                    </a>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2"><img class="center-block img-responsive" style="margin-top:10px"
                                                       src="{{ asset('public/img/das_erste_logo.png') }}"/></div>
            <div class="col-md-8 col-md-offset-2"></div>
        </div>
        <br>
        <div class="row">
            <a href="#/frontend/info" style="color:#FFFFFF; text-decoration:none; ">
                <div class="col-md-8 col-md-offset-2" style="background-color: #555555">
                    Ein Umweltaktivist wird erschossen und sein Freund Henrik Paulsen
                    verschwindet auf einem Windrad in der Nordsee. Die Bremer Kommissare
                    Inga Lürsen und Stedefreund ermitteln <b> [...]</b>
                </div>
            </a>
        </div>
        <br>
        <div class="row highlighted-content">
            <a href="#/frontend/info" style="color:#FFFFFF; text-decoration:none; ">
                <div class="col-md-8 col-md-offset-2">
                    <b>Weitere Sendungen</b>
                </div>
            </a>
        </div>
        <br>

        <div class="col-md-8 col-md-offset-2">
            <div class="row" style="text-align: center;">
                <div class="col-xs-8 overlay_text" style="top:0px;">
                    <img class="img-responsive" style="height:
                    100%;padding:5px;" src="{{ asset('public/img/zdf.png') }}"/>
                </div>
                <div class="col-xs-8 col-xs-offset-2 overlay_text_content"><span>Morgen 20:15 </span></div>
                <a href="#/frontend/info_1">
                    <img class="center-block img-responsive " style="width:100% "
                         src="{{ asset('public/img/weitere_Sendungen2.jpg') }}"/>
                </a>
            </div>
            <br>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="row" style="text-align: center;">
                <div class="col-xs-8 overlay_text" style="top:0px;">
                    <img class="img-responsive" style="height:
                    100%;padding:5px;" src="{{ asset('public/img/zdf.png') }}"/>
                </div>
                <div class="col-xs-8 col-xs-offset-2 overlay_text_content"><span>11.12. 20:15 </span></div>
                <a href="#/frontend/info_2">
                    <img class="center-block img-responsive " style="width:100%
                    " src="{{ asset('public/img/weitere_Sendungen_1.jpg') }}"/>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
