
{% extends 'SocialGamingBundle:Admin:adminlayout.html.twig' %}

{% block content %}
    <br/>
    <a href="{{ path('social_gaming_backend_create_user') }}" class="list-group-item">User Anlegen</a><br/>
    <a href="{{ path('social_gaming_backend_create_show') }}" class="list-group-item">show Anlegen</a><br/>
    <a href="{{ path('social_gaming_backend_create_episode') }}" class="list-group-item">episode Anlegen</a><br/>
    <a href="{{ path('social_gaming_backend_create_hint') }}" class="list-group-item">hint Anlegen</a><br/>
    <a href="{{ path('social_gaming_backend_create_hint') }}"class="list-group-item">suspect Anlegen</a><br/>

{% endblock %}