{% extends 'SocialGamingBundle:Admin:adminlayout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-2">
            <a href="{{ path('social_gaming_backend_create_user') }}" class="btn btn-default">User Anlegen</a>
        </div>
        <div class="col-md-2">
            <a href="{{ path('social_gaming_backend_create_show') }}" class="btn btn-default">show Anlegen</a>
        </div>
        <div class="col-md-2">
            <a href="{{ path('social_gaming_backend_create_episode') }}" class="btn btn-default">episode Anlegen</a>
        </div>
        <div class="col-md-2">
            <a href="{{ path('social_gaming_backend_create_hint') }}" class="btn btn-default">hint Anlegen</a>
        </div>
        <div class="cold-md-2">
            <a href="{{ path('social_gaming_backend_create_suspect') }}" class="btn btn-default">suspect Anlegen</a>
        </div>
    </div>
{% endblock %}